/*
* --------------------------------------------
* These are some styles of customizing 
* to over-ride the default bootstrap ones
*---------------------------------------------
*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-info {
  background-color: #8fd974 !important;
  /* Medium shade for navbar */
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: #394141;
  /* Light shade for brand name & nav links for contrast */
  margin-right: 1%;
  text-align: right;
}

.logout_item {
  color: #394141;
  /* Light shade for brand name & nav links for contrast */
  margin-right: 1%;
  text-align: right;
}

/* Navbar spacing right aligned */
.navbar-nav {
  margin-left: auto;
  width: 40%;
}

.nav-item {
  width: 100%;
}

/* Hover thingy */
.nav-item::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #127475;
  transition: 0.4s;
  margin-left: auto;
}

/* Hover thingy */
.nav-item:hover::after {
  width: 100%;
}


.style_button {
  color: #4a5759;
  /* Light shade for text */
  font-size: 150%;
  background-color: #7ac968;
  /* Dark shade for primary button background */
  border-color: #4a5759;
  /* Darkest shade for border */
  border-width: 2px;
}

.style_button:hover {
  background-color: white;
  color: #4a5759;
}

body {
  background-color: white;
  /* Light shade for body background */
}

.navbar-brand {
  font-family: "Autour One", cursive;
  /*change the font name for what you have*/
  font-size: 2.25rem;
}

.container {
  text-align: center;
  padding: 10px;
}

.container button {
  background-color: #8fd974;
  border: none;
  transition: transform 0.3s;
}

.container button:hover {
  transform: scale(1.5);
}

.container button:active {
  transform: scale(0.95);
}

h1 {
  color: #4a5759;
}

#map {
  display: flex;
  height: 66vh;
  width: 100%;
  justify-content: center;
}

/* Hero */
/* Default height for small devices */
#hero {
  height: 400px;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #hero {
    height: 600px;
  }
}

/* 3 Circle images */
.profile-circel-image-200 img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.vv img {
  transition: all 0.3s ease;
  cursor: pointer;
}

.vv img:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 5px 8px rgba(0, 0, 0, 0.08);
}